<html>

<head>
    <title>Ggg Babel Core</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Load Babel -->
    <!-- https://babeljs.io/docs/setup/#installation -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- Your custom script here -->
    <script type="text/babel" src="gggbabelcore.js"> </script>
    <!-- https://jakearchibald.com/2017/es-modules-in-browsers/ -->
    <!-- https://ponyfoo.com/articles/es6-modules-in-depth -->
    <!-- //============================================================================== -->
    <script type="module" src="module.js"></script>
    <!-- Browsers that understand type=module should ignore scripts with a 
    nomodule attribute. This means you can serve a module tree to module-supporting 
    browsers while providing a fall-back to other browsers. -->
    <script nomodule src="nomodule.js"></script>
</head>

<body>
    <div style="margin:100px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Express HTML</a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/sitemap">Sitemap</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron" style="padding:40px;">
            <h1>app-babel</h1>
            <p>
                Check source code of this file for more information about implementation!
            </p>
            <p>
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
                <a class="btn btn-primary btn-lg" href="https://babeljs.io/" role="button" target="_blank">babeljs.io</a>
                <a class="btn btn-primary btn-lg" href="https://jakearchibald.com/2017/es-modules-in-browsers/" role="button" target="_blank">ECMAScript modules in browsers</a>
            </p>
            <hr>
            <h2>Sandbox</h2>
            <div>
                <!-- //==============================================================================-->
                <h3>modulediv</h3>
                <div id="modulediv">
                </div>
                <!-- //==============================================================================-->
                <h3>output</h3>
                <div id="output">
                </div>
            </div>
        </div>
    </div>
</body>

</html>